# ========================
# Maven / Java build
# ========================
target/
*.log

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
out/

# ========================
# Sistema Operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Arquivos temporários
# ========================
*.tmp
*.swp

# ========================
# Relatórios de testes Java
# ========================
surefire-reports/
failsafe-reports/

# ========================
# Relatórios do Newman
# ========================
reports/

# (opcional) manter apenas a estrutura das pastas
!reports/.gitkeep
!reports/newman/.gitkeep

# ========================
# Node / NPM (caso use local)
# ========================
node_modules/
npm-debug.log*